﻿@model GetParcelResponseModel

@*<div class="shipment-creation-body">
    <form class="form" asp-controller="Parcel" asp-action="UpdateParcel">
        <div class="title">Edit Parcel</div>
        <div class="input-container ic1">

            <input id="weight" type="number" class="input" name="weight" value="@Model.Weight" />

            <div class="cut"></div>
            <label for="weight" class="placeholder">Weight</label>
        </div>

        <div class="input-container ic2">

            <input id="DeliveryToAddress" type="checkbox" class="input" name="DestinationWarehouseId" value="@Model.DeliveryToAddress" />

            <div class="cut"></div>
            <label for="DeliveryToAddress" class="placeholder">Delivery To Address</label>
        </div>

        <div class="input-container ic2">

            <input id="CustomerId" type="number" class="input" name="CustomerId" value="@Model.CustomerId" />

            <div class="cut"></div>
            <label for="CustomerId" class="placeholder">Customer Id</label>
        </div>

        <div class="input-container ic2">

            <input id="WarehouseId" type="number" class="input" name="WarehouseId" value="@Model.WarehouseId" />

            <div class="cut"></div>
            <label for="WarehouseId" class="placeholder">Warehouse Id</label>
        </div>

        <div class="input-container ic2">

            <select id="CategoryName" class="input" name="CategoryId" value="@Model.CategoryName">
                @foreach (var status in Model.PossibleStatuses)
                {
                    <option value="@status.Id">@status.Name</option>
                }
            </select>

            <div class="cut cut-short"></div>
            <label for="CategoryName" class="placeholder">Category</label>
        </div>

        <div class="input-container ic2">

            <input id="ShipmentId" type="number" class="input" name="ShipmentId" value="@Model.ShipmentId" />

            <div class="cut"></div>
            <label for="ShipmentId" class="placeholder">Shipment Id</label>
        </div> 

        <input type="hidden" name="Id" value="@Model.Id" />

        <button class="submit" type="submit">Edit</button>
    </form>
</div>*@
<article>
    <!-- Breadcrumb -->
    <section class="theme-breadcrumb pad-50">
        <div class="theme-container container">
            <div class="row">
                <div class="col-sm-8 pull-left">
                    <div class="title-wrap">
                        <h2 class="section-title no-margin">EDIT PARCEL</h2>
                        <p class="fs-16 no-margin">                            
                        </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <ol class="breadcrumb-menubar list-inline">
                        <li><a href="#" class="gray-clr">Home</a></li>
                        <li class="active">Quote</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <!-- /.Breadcrumb -->
    <!-- Quote -->
    <section class="pt-80 quote-wrap">
        <div class="theme-container container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <img src="assets/img/block/Courier-Man.png"
                         alt=""
                         class="wow slideInLeft"
                         data-wow-offset="50"
                         data-wow-delay=".20s" />
                </div>
                <div class="col-md-6">
                    <div class="pad-10"></div>
                    <h2 class="section-title pb-10 wow fadeInUp" data-wow-offset="50" data-wow-delay=".20s"> Parcel Details </h2>
                    <p class="fs-16 wow fadeInUp" data-wow-offset="50" data-wow-delay=".25s">
                    </p>
                    <div class="calculate-form">
                        <form class="row" asp-controller="Parcel" asp-action="UpdateParcel">
                            <div class="form-group wow fadeInUp" data-wow-offset="50" data-wow-delay=".20s">
                                <div class="col-sm-3"> <label class="title-2" value="@Model.Weight"> Weight KG </label></div>
                                <div class="col-sm-9"> <input id="weight" type="number" name="Weight" value="@Model.Weight" placeholder="@Model.Weight" class="form-control"> </div>
                            </div>
                            <div class="form-group wow fadeInUp" data-wow-offset="50" data-wow-delay=".20s">
                                <div class="col-sm-3"> <label class="title-2"> Delivery To Address </label></div>
                                <div class="col-sm-9">
                                    <label class="container">                                      
                                        <input id="DeliveryToAddress" type="checkbox" name="DeliveryToAddress" placeholder="Delivery" >
                                        <span class=""></span>
                                    </label>    
                                </div>
                            </div>
                            <div class="form-group wow fadeInUp" data-wow-offset="50" data-wow-delay=".20s">
                                <div class="col-sm-3"> <label class="title-2"> Customer ID </label></div>
                                <div class="col-sm-9"> <input id="CustomerId" type="number" name="CustomerId" value="@Model.CustomerId" placeholder="@Model.CustomerId" class="form-control"> </div>
                            </div>
                            <div class="form-group wow fadeInUp" data-wow-offset="50" data-wow-delay=".20s">
                                <div class="col-sm-3"> <label class="title-2"> Warehouse ID </label></div>
                                <div class="col-sm-9"> <input id="WarehouseId" type="number" name="WarehouseId" value="@Model.WarehouseId" placeholder="@Model.WarehouseId" class="form-control"> </div>
                            </div>
                            <div class="form-group wow fadeInUp" data-wow-offset="50" data-wow-delay=".20s">
                                <div class="col-sm-3"> <label class="title-2"> Category </label></div>
                                <div class="col-sm-9">
                                    <select id="CategoryName" class="form-control" name="CategoryId" value="@Model.CategoryName">
                                        @foreach (var status in Model.PossibleStatuses)
                                        {
                                            <option value="@status.Id">@status.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group wow fadeInUp" data-wow-offset="50" data-wow-delay=".20s">
                                <div class="col-sm-3"> <label class="title-2"> Shipment ID </label></div>
                                <div class="col-sm-9"> <input id="ShipmentId" type="number" name="ShipmentId" value="@Model.ShipmentId" placeholder="@Model.ShipmentId" class="form-control"> </div>
                            </div>
                            <input type="hidden" name="Id" value="@Model.Id" />
                            
                            <div class="form-group wow fadeInUp" data-wow-offset="150" data-wow-delay=".20s">
                                <div class="col-sm-9 col-xs-12 pull-right">
                                    <div>  <button type="submit" class="btn-1">Submit</button>  </div>
                                </div>
                            </div>
                            @*<button type="submit" class="btn-1">Submit</button>*@
                        </form>
                    </div>
                    <div class="pt-80 hidden-lg"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.Quote -->
    <!-- Steps -->
    <section class="steps-wrap mask-overlay pad-80">
        <div class="theme-container container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="font-2 fs-50 wow fadeInLeft"
                         data-wow-offset="50"
                         data-wow-delay=".20s">
                        1.
                    </div>
                    <div class="steps-content wow fadeInLeft"
                         data-wow-offset="50"
                         data-wow-delay=".25s">
                        <h2 class="title-3">Order</h2>
                        <p class="gray-clr">
                            Duis autem vel eum iriur <br />
                            hendrerit in vulputate
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="font-2 fs-50 wow fadeInLeft"
                         data-wow-offset="50"
                         data-wow-delay=".20s">
                        2.
                    </div>
                    <div class="steps-content wow fadeInLeft"
                         data-wow-offset="50"
                         data-wow-delay=".25s">
                        <h2 class="title-3">Wait</h2>
                        <p class="gray-clr">
                            Duis autem vel eum iriur <br />
                            hendrerit in vulputate
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="font-2 fs-50 wow fadeInLeft"
                         data-wow-offset="50"
                         data-wow-delay=".20s">
                        3.
                    </div>
                    <div class="steps-content wow fadeInLeft"
                         data-wow-offset="50"
                         data-wow-delay=".25s">
                        <h2 class="title-3">Deliver</h2>
                        <p class="gray-clr">
                            Duis autem vel eum iriur <br />
                            hendrerit in vulputate
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="step-img wow slideInRight"
             data-wow-offset="50"
             data-wow-delay=".20s">
            <img src="assets/img/block/step-img.png" alt="" />
        </div>
    </section>
    <!-- /.Steps -->
</article>