﻿<partial name="../Shared/_ParcelsTable.cshtml" />

<script src="https://code.jquery.com/jquery-2.2.4.js"
        integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
        crossorigin="anonymous"></script>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
        integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
        crossorigin="anonymous"></script>

<script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.noStyle.js"></script>

<script src="~/js/agGridParcelsTableColumnDefs.js"></script>
<script src="~/js/agGridCustomerParcelsTable.js"></script>
<script src="~/js/agGridParcelsTable.js"></script>