﻿@model CreateShipmentRequestModel

<article>
    <!-- Breadcrumb -->
    <section class="theme-breadcrumb pad-50">
        <div class="theme-container container">
            <div class="row">
                <div class="col-sm-8 pull-left">
                    <div class="title-wrap">
                        <h2 class="section-title no-margin">Get a Quote</h2>
                        <p class="fs-16 no-margin">
                            Track your product & see the current condition
                        </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <ol class="breadcrumb-menubar list-inline">
                        <li><a href="#" class="gray-clr">Home</a></li>
                        <li class="active">Quote</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <!-- /.Breadcrumb -->
    <!-- Quote -->
    <section class="pt-80 quote-wrap">
        <div class="theme-container container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <img src="assets/img/block/Courier-Man.png"
                         alt=""
                         class="wow slideInLeft"
                         data-wow-offset="50"
                         data-wow-delay=".20s" />
                </div>
                <div class="col-md-6">
                    <div class="pad-10"></div>
                    <h2 class="section-title pb-10 wow fadeInUp" data-wow-offset="50" data-wow-delay=".20s"> Create Shipment </h2>
                    <p class="fs-16 wow fadeInUp" data-wow-offset="50" data-wow-delay=".25s">
                        Departure and Arrival Dates must be in the future. Origin and Destination must be different.
                    </p>
                    <div class="calculate-form">
                        <form class="row" asp-controller="Shipment" asp-action="Create">
                            <div class="form-group wow fadeInUp" data-wow-offset="50" data-wow-delay=".20s">
                                <div class="col-sm-3"> <label class="title-2"> Origin Warehouse </label></div>
                                <div class="col-sm-9"> <input type="number" name="OriginWarehouse" placeholder="" class="form-control"> </div>
                            </div>
                            <div class="form-group wow fadeInUp" data-wow-offset="50" data-wow-delay=".20s">
                                <div class="col-sm-3"> <label class="title-2"> Destination Warehouse </label></div>
                                <div class="col-sm-9"> <input type="number" name="DestinationWarehouse" placeholder="" class="form-control"> </div>
                            </div>
                            <div class="form-group wow fadeInUp" data-wow-offset="50" data-wow-delay=".20s">
                                <div class="col-sm-3"> <label class="title-2"> Departure </label></div>
                                <div class="col-sm-9"> <input type="date" name="DepartureTime" placeholder="" class="form-control"> </div>
                            </div>
                            <div class="form-group wow fadeInUp" data-wow-offset="50" data-wow-delay=".20s">
                                <div class="col-sm-3"> <label class="title-2"> Arrival </label></div>
                                <div class="col-sm-9"> <input type="date" name="ArrivalTime" placeholder="" class="form-control"> </div>
                            </div>
                           
                            <div class="form-group wow fadeInUp" data-wow-offset="150" data-wow-delay=".20s">
                                    <div class="col-sm-9 col-xs-12 pull-right">
                                        <div>  <button type="submit" class="btn-1">Submit</button>  </div>
                                    </div>
                                </div>                           
                        </form>
                    </div>
                    <div class="pt-80 hidden-lg"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.Quote -->
    <!-- Steps -->
    <section class="steps-wrap mask-overlay pad-80">
        <div class="theme-container container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="font-2 fs-50 wow fadeInLeft"
                         data-wow-offset="50"
                         data-wow-delay=".20s">
                        1.
                    </div>
                    <div class="steps-content wow fadeInLeft"
                         data-wow-offset="50"
                         data-wow-delay=".25s">
                        <h2 class="title-3">Order</h2>
                        <p class="gray-clr">
                            Duis autem vel eum iriur <br />
                            hendrerit in vulputate
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="font-2 fs-50 wow fadeInLeft"
                         data-wow-offset="50"
                         data-wow-delay=".20s">
                        2.
                    </div>
                    <div class="steps-content wow fadeInLeft"
                         data-wow-offset="50"
                         data-wow-delay=".25s">
                        <h2 class="title-3">Wait</h2>
                        <p class="gray-clr">
                            Duis autem vel eum iriur <br />
                            hendrerit in vulputate
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="font-2 fs-50 wow fadeInLeft"
                         data-wow-offset="50"
                         data-wow-delay=".20s">
                        3.
                    </div>
                    <div class="steps-content wow fadeInLeft"
                         data-wow-offset="50"
                         data-wow-delay=".25s">
                        <h2 class="title-3">Deliver</h2>
                        <p class="gray-clr">
                            Duis autem vel eum iriur <br />
                            hendrerit in vulputate
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="step-img wow slideInRight"
             data-wow-offset="50"
             data-wow-delay=".20s">
            <img src="assets/img/block/step-img.png" alt="" />
        </div>
    </section>
    <!-- /.Steps -->
</article>



