﻿@model GetShipmentResponseModel

@*<div class="shipment-creation-body">
    <form class="form" asp-controller="Shipment" asp-action="UpdateShipment">
        <div class="title">Edit Shipment</div>
        <div class="input-container ic1">

            <input id="origin-warehouse-shipment" type="number" class="input" name="OriginWarehouseId" value="@Model.OriginWarehouseId" />

            <div class="cut"></div>
            <label for="origin-warehouse-shipment" class="placeholder">Origin Warehouse Id</label>
        </div>

        <div class="input-container ic2">

            <input id="destination-warehouse-shipment" type="number" class="input" name="DestinationWarehouseId" value="@Model.DestinationWarehouseId" />

            <div class="cut"></div>
            <label for="destination-warehouse-shipment" class="placeholder">Destination Warehouse Id</label>
        </div>

        <div class="input-container ic2">

            <input id="departure-time-shipment" type="datetime" class="input" name="DepartureTime" value="@Model.DepartureTime" />

            <div class="cut cut-short"></div>
            <label for="departure-time-shipment" class="placeholder">Departure Time</label>
        </div>

        <div class="input-container ic2">

            <input id="arrival-time-shipment" type="datetime" class="input" name="ArrivalTime" value="@Model.ArrivalTime" />

            <div class="cut cut-short"></div>
            <label for="arrival-time-shipment" class="placeholder">ArrivalTime Time</label>
        </div>

        <div class="input-container ic2">

            <select id="status-id-shipment" class="input" name="StatusId" value="@Model.StatusId">
                @foreach (var status in Model.PossibleStatuses)
                {
                    <option value="@status.Id">@status.Name</option>
                }
            </select>

            <div class="cut cut-short"></div>
            <label for="status-id-shipment" class="placeholder">Status</label>
        </div>

        <input type="hidden" name="Id" value="@Model.Id" />

        <button class="submit" type="submit">Edit</button>
    </form>
</div>

@model CreateShipmentRequestModel*@

<article>
    <!-- Breadcrumb -->
    <section class="theme-breadcrumb pad-50">
        <div class="theme-container container">
            <div class="row">
                <div class="col-sm-8 pull-left">
                    <div class="title-wrap">
                        <h2 class="section-title no-margin">EDIT SHIPMENT</h2>
                        <p class="fs-16 no-margin">
                        </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <ol class="breadcrumb-menubar list-inline">
                        <li><a href="#" class="gray-clr">Home</a></li>
                        <li class="active">Quote</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <!-- /.Breadcrumb -->
    <!-- Quote -->
    <section class="pt-80 quote-wrap">
        <div class="theme-container container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <img src="assets/img/block/Courier-Man.png"
                         alt=""
                         class="wow slideInLeft"
                         data-wow-offset="50"
                         data-wow-delay=".20s" />
                </div>
                <div class="col-md-6">
                    <div class="pad-10"></div>
                    <h2 class="section-title pb-10 wow fadeInUp" data-wow-offset="50" data-wow-delay=".20s"> Shipment Details </h2>
                    <p class="fs-16 wow fadeInUp" data-wow-offset="50" data-wow-delay=".25s">
                        Departure and Arrival Dates must be in the future. Origin and Destination must be different.
                    </p>
                    <div class="calculate-form">
                        <form class="row" asp-controller="Shipment" asp-action="UpdateShipment">
                            <div class="form-group wow fadeInUp" data-wow-offset="50" data-wow-delay=".20s">
                                <div class="col-sm-3"> <label class="title-2"> Origin Warehouse </label></div>
                                <div class="col-sm-9"> <input id="destination-warehouse-shipment" type="number" name="OriginWarehouseId" value="@Model.OriginWarehouseId" placeholder="@Model.OriginWarehouseId" class="form-control"> </div>
                            </div>
                            <div class="form-group wow fadeInUp" data-wow-offset="50" data-wow-delay=".20s">
                                <div class="col-sm-3"> <label class="title-2"> Destination Warehouse </label></div>
                                <div class="col-sm-9"> <input id="destination-warehouse-shipment" type="number" name="DestinationWarehouseId" value="@Model.DestinationWarehouseId" class="form-control"> </div>
                            </div>
                            <div class="form-group wow fadeInUp" data-wow-offset="50" data-wow-delay=".20s">
                                <div class="col-sm-3"> <label class="title-2"> Departure Date </label></div>
                                <div class="col-sm-9"> <input id="departure-time-shipment" type="datetime" name="DepartureTime" value="@Model.DepartureTime" placeholder="@Model.DepartureTime" class="form-control"> </div>
                            </div>
                            <div class="form-group wow fadeInUp" data-wow-offset="50" data-wow-delay=".20s">
                                <div class="col-sm-3"> <label class="title-2"> Arrival Date </label></div>
                                <div class="col-sm-9"> <input id="arrival-time-shipment" type="datetime" name="ArrivalTime" value="@Model.ArrivalTime" placeholder="@Model.ArrivalTime" class="form-control"> </div>
                            </div>
                            <div class="form-group wow fadeInUp" data-wow-offset="50" data-wow-delay=".20s">
                                <div class="col-sm-3"> <label class="title-2"> Status </label></div>
                                <div class="col-sm-9">
                                    <select id="status-id-shipment" class="form-control" name="StatusId" value="@Model.StatusId">
                                        @foreach (var status in Model.PossibleStatuses)
                                        {
                                            <option value="@status.Id">@status.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <input type="hidden" name="Id" value="@Model.Id" />

                            <div class="form-group wow fadeInUp" data-wow-offset="150" data-wow-delay=".20s">
                                <div class="col-sm-9 col-xs-12 pull-right">
                                    <div>  <button type="submit" class="btn-1">Submit</button>  </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="pt-80 hidden-lg"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.Quote -->
    <!-- Steps -->
    <section class="steps-wrap mask-overlay pad-80">
        <div class="theme-container container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="font-2 fs-50 wow fadeInLeft"
                         data-wow-offset="50"
                         data-wow-delay=".20s">
                        1.
                    </div>
                    <div class="steps-content wow fadeInLeft"
                         data-wow-offset="50"
                         data-wow-delay=".25s">
                        <h2 class="title-3">Order</h2>
                        <p class="gray-clr">
                            Duis autem vel eum iriur <br />
                            hendrerit in vulputate
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="font-2 fs-50 wow fadeInLeft"
                         data-wow-offset="50"
                         data-wow-delay=".20s">
                        2.
                    </div>
                    <div class="steps-content wow fadeInLeft"
                         data-wow-offset="50"
                         data-wow-delay=".25s">
                        <h2 class="title-3">Wait</h2>
                        <p class="gray-clr">
                            Duis autem vel eum iriur <br />
                            hendrerit in vulputate
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="font-2 fs-50 wow fadeInLeft"
                         data-wow-offset="50"
                         data-wow-delay=".20s">
                        3.
                    </div>
                    <div class="steps-content wow fadeInLeft"
                         data-wow-offset="50"
                         data-wow-delay=".25s">
                        <h2 class="title-3">Deliver</h2>
                        <p class="gray-clr">
                            Duis autem vel eum iriur <br />
                            hendrerit in vulputate
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="step-img wow slideInRight"
             data-wow-offset="50"
             data-wow-delay=".20s">
            <img src="assets/img/block/step-img.png" alt="" />
        </div>
    </section>
    <!-- /.Steps -->
</article>