﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - TestProject</title>

    <!-- BEGIN THEME SPECIFIC STUFF -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap Css -->
    <link rel="stylesheet" type="text/css" href="/assets/plugins/bootstrap-3.3.6/css/bootstrap.min.css">
    <!-- Bootstrap Select Css -->
    <link rel="stylesheet" type="text/css" href="/assets/plugins/bootstrap-select-1.10.0/dist/css/bootstrap-select.min.css">
    <!-- Fonts Css -->
    <link rel="stylesheet" type="text/css" href="/assets/plugins/font-awesome-4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/plugins/font-elegant/elegant.css">
    <!-- OwlCarousel2 Slider Css -->
    <link rel="stylesheet" type="text/css" href="/assets/plugins/owl.carousel.2/assets/owl.carousel.css">

    <!-- Animate Css -->
    <link rel="stylesheet" type="text/css" href="/assets/css/animate.css">

    <!-- Main Css -->
    <link rel="stylesheet" type="text/css" href="/assets/css/theme.css">

    <!-- END OF THEME SPECIFIC STUFF -->

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-grid.css">
    <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-theme-alpine-dark.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" integrity="sha512-c42qTSw/wPZ3/5LBzD+Bw5f7bSF2oxou6wEb+I/lqeaKV5FDIfMvvRp772y4jcJLKuGUOpbJMdg/BTl50fJYAw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.1.9/sweetalert2.min.css" integrity="sha512-cyIcYOviYhF0bHIhzXWJQ/7xnaBuIIOecYoPZBgJHQKFPo+TOBA+BY1EnTpmM8yKDU4ZdI3UGccNGCEUdfbBqw==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <!--[if lt IE 9]>
    <script src="/assets/plugins/iesupport/html5shiv.js"></script>
    <script src="/assets/plugins/iesupport/respond.js"></script>
    <![endif]-->
</head>
<body id="home">
    <!-- Preloader -->
    <div id="preloader">

        <div class="small1">
            <div class="small ball smallball1"></div>
            <div class="small ball smallball2"></div>
            <div class="small ball smallball3"></div>
            <div class="small ball smallball4"></div>
        </div>


        <div class="small2">
            <div class="small ball smallball5"></div>
            <div class="small ball smallball6"></div>
            <div class="small ball smallball7"></div>
            <div class="small ball smallball8"></div>
        </div>

        <div class="bigcon">
            <div class="big ball"></div>
        </div>

    </div>
    <!-- /.Preloader -->
    <!-- Main Wrapper -->
    <main class="wrapper">

        <!-- Header -->
        <header class="header-main header-style3">

            <!-- Header Topbar -->
            <div class="top-bar2">
                <div class="theme-container container">
                    <div class="row">
                        <div class="col-md-2 col-sm-12">
                            <a class="navbar-logo" href="#"> <img src="/assets/img/logo/logo-black.png" alt="logo" /> </a>
                        </div>
                        <div class="col-md-10 col-sm-12 fs-12 text-right">
                            <ul class="list-inline">
                                <li> <h6 class="font2-light"> Come to office </h6> <p class="theme-clr  font2-title1"> 24 Arham Street, NY, USA </p> </li>
                                <li> <h6 class="font2-light"> Want to meet? </h6> <p class="theme-clr  font2-title1"> Mon-Sat,9am-6pm </p> </li>
                                <li> <h6 class="font2-light"> Need a help? </h6> <p class="theme-clr font2-title1"> +880-1756-390-370 </p></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.Header Topbar -->
            <!-- Header Logo & Navigation -->
            <nav class="menu-bar font2-title1 white-clr">
                <div class="theme-container container">
                    <div class="row">
                        <div class="col-xs-12 visible-xs">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div class="visible-xs">
                                <a data-toggle="modal" href="#login-popup" class="sign-in fs-12 black-bg"> sign in </a>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-10 fs-14">
                            <a class="sticky-logo hidden-sm" href="index.html"> <img alt="" src="/assets/img/logo/logo-white.png" /> </a>
                            <div id="navbar" class="collapse navbar-collapse no-pad">
                                <ul class="navbar-nav theme-menu">
                                    <li> <a asp-controller="Home" asp-action="Index"> Home </a> </li>

                                    <li> <a asp-controller="Country" asp-action="GetCountries"> Countries </a> </li>
                                    <li> <a asp-controller="City" asp-action="GetCities"> Cities </a> </li>
                                    @if (User.Identity.IsAuthenticated && User.IsInRole(Constants.CustomerRoleName))
                                    {
                                        <li> <a asp-controller="Parcel" asp-action="ShowCustomerParcels">Pacels</a> </li>
                                    }
                                    @if (User.IsInRole(Constants.AdminRoleName) || User.IsInRole(Constants.EmployeeRoleName))
                                    {
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true">Parcels</a>
                                            <ul class="dropdown-menu">
                                                <li><a asp-controller="Parcel" asp-action="ShowParcels">List of Parcels</a></li>
                                                <li><a asp-controller="Parcel" asp-action="CreateParcel"> Create Parcel </a></li>
                                            </ul>
                                        </li>

                                        <li>
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true">Shipments</a>
                                            <ul class="dropdown-menu">
                                                <li><a asp-controller="Shipment" asp-action="ShowShipments">List of Shipments</a></li>
                                                <li><a asp-controller="Shipment" asp-action="createshipment"> Create Shipment </a></li>
                                            </ul>
                                        </li>
                                    }
                                    <li> <a asp-controller="Home" asp-action="About">about</a> </li>
                                    <li> <a asp-controller="Home" asp-action="Contact"> contact </a> </li>
                                    <li></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 text-right hidden-xs custom-sign-section custom-sign-section-vertical">
                            @if(!User.Identity.IsAuthenticated)
                           {
                            <div class="sign-in-container">
                                <a data-toggle="modal" href="#login-popup" class="sign-in fs-12 black-bg"> sign in </a>
                            </div>
                           }
                           else
                           {
                            <div class="hello-sign-name">
                                Hello, @User.Identity.Name
                            </div>
                            <div class="">
                                <a data-toggle="modal" href="/api/Account/Signout" class="sign-in fs-12 black-bg">
                                    Signout
                                </a>
                            </div>
                           }
                        </div>
                    </div>
                </div>
            </nav>
            <!-- /.Header Logo & Navigation -->

        </header>
        <!-- /.Header -->
        <!-- Content Wrapper -->
        <article>
            @RenderBody()
        </article>
        <!-- /.Content Wrapper -->
        <!-- Footer -->
        <footer>
            <div class="footer-main pad-120 white-clr">
                <div class="theme-container container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 footer-widget">
                            <a href="#"> <img class="logo" alt="#" src="/assets/img/logo/logo-white.png" />  </a>
                        </div>
                        <div class="col-md-3 col-sm-6 footer-widget">
                            <h2 class="title-1 fw-900">quick links</h2>
                            <ul>
                                <li> <a href="#">sitemap</a> </li>
                                <li> <a href="#">pricing</a> </li>
                                <li> <a href="#">payment method</a> </li>
                                <li> <a href="#">support</a> </li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-6 footer-widget">
                            <h2 class="title-1 fw-900">important links</h2>
                            <ul>
                                <li> <a href="#">themeforest</a> </li>
                                <li> <a href="#">envato</a> </li>
                                <li> <a href="#">audiojungle</a> </li>
                                <li> <a href="#">videohibe</a> </li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-6 footer-widget">
                            <h2 class="title-1 fw-900">get in touch</h2>
                            <ul class="social-icons list-inline">
                                <li class="wow fadeIn" data-wow-offset="50" data-wow-delay=".20s"> <a href="#" class="fa fa-facebook"></a> </li>
                                <li class="wow fadeIn" data-wow-offset="50" data-wow-delay=".25s"> <a href="#" class="fa fa-twitter"></a> </li>
                                <li class="wow fadeIn" data-wow-offset="50" data-wow-delay=".30s"> <a href="#" class="fa fa-google-plus"></a> </li>
                                <li class="wow fadeIn" data-wow-offset="50" data-wow-delay=".35s"> <a href="#" class="fa fa-linkedin"></a> </li>
                            </ul>
                            <ul class="payment-icons list-inline">
                                <li class="wow fadeIn" data-wow-offset="50" data-wow-delay=".20s"> <a href="#"> <img alt="#" src="/assets/img/icons/payment-1.png" /> </a> </li>
                                <li class="wow fadeIn" data-wow-offset="50" data-wow-delay=".25s"> <a href="#"> <img alt="#" src="/assets/img/icons/payment-2.png" /> </a> </li>
                                <li class="wow fadeIn" data-wow-offset="50" data-wow-delay=".30s"> <a href="#"> <img alt="#" src="/assets/img/icons/payment-3.png" /> </a> </li>
                                <li class="wow fadeIn" data-wow-offset="50" data-wow-delay=".35s"> <a href="#"> <img alt="#" src="/assets/img/icons/payment-4.png" /> </a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-bottom">
                <div class="theme-container container">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <p> © Copyright 2016, All rights reserved </p>
                        </div>
                        <div class="col-md-6 col-sm-6 text-right">
                            <p> Design and <span class="theme-clr fa fa-heart"></span>  by <a href="#" class="main-clr"> jThemes Studio </a> </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- /.Footer -->

    </main>
    <!-- / Main Wrapper -->
    <!-- Top -->
    <div class="to-top theme-clr-bg transition"> <i class="fa fa-angle-up"></i> </div>

    <!-- Popup: Login -->
    <div class="modal fade login-popup" id="login-popup" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <a class="close close-btn" data-dismiss="modal" aria-label="Close"> x </a>

            <div class="modal-content">
                <div class="login-wrap text-center">
                    <h2 class="title-3"> sign in </h2>
                    <p> Sign in to <strong> GO </strong> for getting all details </p>

                    <div class="login-form clrbg-before">
                        <form class="login" id="login-form">
                            <div class="form-group"><input type="text" placeholder="Username" class="form-control"></div>
                            <div class="form-group"><input type="password" placeholder="Password" class="form-control"></div>
                            <div class="form-group">
                                <button class="btn-1 " id="login-button" type="submit"> Sign in now </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="create-accnt">
                    <a href="#" class="white-clr"> Don’t have an account? </a>                  
                    <h2 class="title-2"> <a data-toggle="modal" href="#register-popup" id="register-button-custom" class="green-clr under-line"> Create a free account </a> </h2>
                </div>
            </div>
        </div>
    </div>
    <!-- /Popup: Login -->

    <div class="modal fade login-popup" id="register-popup" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <a class="close close-btn" data-dismiss="modal" aria-label="Close"> x </a>

            <div class="modal-content">
                <div class="login-wrap text-center">
                   
                    <div class="register-form clrbg-before">
                        <form class="login" id="register-form">
                            <div class="form-group"><input type="text" placeholder="Username" class="form-control"></div>
                            <div class="form-group"><input type="password" placeholder="Password" class="form-control"></div>
                            <div class="form-group"><input type="text" placeholder="FirstName" class="form-control"></div>
                            <div class="form-group"><input type="text" placeholder="LastName" class="form-control"></div>
                            <div class="form-group"><input type="email" placeholder="Email" class="form-control"></div>
                            <div class="form-group"><input type="text" placeholder="CountryName" class="form-control"></div>
                            <div class="form-group"><input type="text" placeholder="CityName" class="form-control"></div>
                            <div class="form-group"><input type="text" placeholder="Address" class="form-control"></div>
                            <div class="form-group">
                                <button class="btn-1 " id="register-button-submit" type="submit"> Register now </button>
                            </div>
                        </form>
                    </div>
                </div>               
            </div>
        </div>
    </div>


    <!-- Search Popup -->
    <div class="search-popup">
        <div>
            <div class="popup-box-inner">
                <form>
                    <input class="search-query" type="text" placeholder="Search and hit enter" />
                </form>
            </div>
        </div>
        <a href="javascript:void(0)" class="close-search"><i class="fa fa-close"></i></a>
    </div>
    <!-- / Search Popup -->
    <!-- Main Jquery JS -->
    <script src="/assets/js/jquery-2.2.4.min.js" type="text/javascript"></script>
    <!-- Bootstrap JS -->
    <script src="/assets/plugins/bootstrap-3.3.6/js/bootstrap.min.js" type="text/javascript"></script>
    <!-- Bootstrap Select JS -->
    <script src="/assets/plugins/bootstrap-select-1.10.0/dist/js/bootstrap-select.min.js" type="text/javascript"></script>
    <!-- OwlCarousel2 Slider JS -->
    <script src="/assets/plugins/owl.carousel.2/owl.carousel.min.js" type="text/javascript"></script>
    <!-- Sticky Header -->
    <script src="/assets/js/jquery.sticky.js"></script>
    <!-- Wow JS -->
    <script src="/assets/plugins/WOW-master/dist/wow.min.js" type="text/javascript"></script>



    <!-- Slider JS -->
    <!-- Theme JS -->
    <script src="/assets/js/theme.js" type="text/javascript"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.1.9/sweetalert2.all.min.js" integrity="sha512-IZ95TbsPTDl3eT5GwqTJH/14xZ2feLEGJRbII6bRKtE/HC6x3N4cHye7yyikadgAsuiddCY2+6gMntpVHL1gHw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    @RenderSection("Scripts", required: false)

    <script src="/js/generalScripts.js" type="text/javascript"></script>

</body>
</html>
