﻿<section class="centered-container">
    <div class="inner-centered-container">
        <h2 class="text-white-c">Parcels List</h2>

        <div id="myGrid" class="ag-theme-alpine-dark"></div>

        <div id="pagination-container">
            <button id="prev-button" disabled class="btn pageing-buttons text-white-c">PREVIOUS PAGE</button>
            <h3 id="page-counter">Page: 1</h3>
            <button id="next-button" class="btn pageing-buttons text-white-c">NEXT PAGE</button>
        </div>
    </div>

</section></section>